.about {
    margin: 35px auto;
    width: 70rem;
    max-width: 80%;
    font-size: 18px;
}

.about p {
    line-height: 2;
}

.featureList {
    display: flex;
    align-items: center;
    width: 80%;
    margin: auto;
    height: 4rem;
}

.featureList em {
    color: #de0c40;
    font-weight: bold;
    font-size: 20px;
}

.featureList p {
    padding: 0 100px;
}

.title {
    font-weight: bold;
    margin-bottom: 4rem;
    color: white;
    text-align: center;
}

.title h1 {
    font-size: 2.5rem;
}

.numberImage {
    height: 20px;
}

.list {
    font-size: 22px;
}

.list a {
    color: white;
    text-decoration: none;
    font-style: italic;
}

.list a:hover,
.list a:focus {
    color: #ccc;
}

.footer {
    margin: auto;
    max-width: 100%;
    text-align: center;
}

.footer ul {
    align-items: center;
    list-style: none;
    padding: 0 !important;
}