.nav {
    left: 0;
    top: 0;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #444444;
    color: #EDEDED;
    padding: 0 80px;
}

.links {
    display: flex;
    max-width: 15rem;
    align-items: center;
    list-style: none;
}

.nav a {
    text-decoration: none;
    color: #EDEDED;
    padding: 0 10px;
}

.nav a:active,
.nav a:hover,
.nav a.active {
    color: #8d8d8d;
}
