.nav {
    left: 0;
    top: 0;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #444444;
    color: #EDEDED;
    padding: 0 80px;
}

.links {
    display: flex;
    max-width: 15rem;
    align-items: center;
}

.links p {
    padding: 0 10px;
}