.content {
    margin: 35px auto;
    width: 70rem;
    max-width: 80%;
    font-size: 18px;
}

h2 {
    color: #DA0037;
}

h2 a {
    color: #DA0037;
}

.title {
    font-weight: bold;
    margin-bottom: 4rem;
    color: white;
    text-align: center;
}

.title h1 {
    font-size: 2.5rem;
}

a {
    color: white;
}