.card {
    width: 1000px;
    max-width: 90%;
    margin: 35px auto;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #444444;
    border-radius: 16px;
}

.result {
    width: 900px;
    max-width: 90%;
    text-align: left;
    margin: 5px auto;
}

.result h1 {
    font-size: 36px;
    color: #EDEDED;
}

.result h2 {
    font-size: 28px;
    color: #DA0037;
    font-weight: bold;
}
.card h3 {
    color: #EDEDED;
}

.result p {
    font-size: 19px;
    color: #FFFFFF;
    white-space: pre-wrap;
    word-wrap: break-word;
}
